---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1583%20Newton%20St%20Denver%20CO&key=google_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1583",
                       "short_name" : "1583",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Newton Street",
                       "short_name" : "Newton St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "West",
                       "short_name" : "West",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2300%20Steele%20St%20Denver%20CO&key=google_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
     [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=google_api_key&location=39.74574405,-104.99464955&radius=1500&type=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "Aap_uEB5s8TUlMhmZM0eWPqcz9JajsoAf3bghR8tYoocv0qJr-ajr5KsLmFHAWSdkc25PQ8KTLkiSONEy-89GI7tNj2KsE9kRykGF_dnDO_rRkmblPdDslQgppbyLfGAAOeVv3Z_fahBTFJB5pIUFxsvjeiKc1hkTKnZ8PnQJcdxPcu1abvA6ajKRsa2k1ILTL2sMp-VZxu3TZ_n6AuwKUkCGzsveVEpL_qMrx_R1mZzMiP20VgV74L58N6KCOIw6YrvA2gxyECxv8JWOD6URDn4klsfsCt1fM-kc2uRzFmCnx0xmcs5kQSHhoVWHkWfKQnLonzV3uUOPrG59dGHSEgV49vSDXaBXmU9YvDIV7mxvxATTudrBLQC1oSM5nvDmaRxdvKHjxhWybl4qo4TTuIC8Y9B2dXRNZAoRTIi54whWRr6KMygtgUI",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7508417,
                       "lng" : -104.9853639
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7521314302915,
                          "lng" : -104.9838426697085
                       },
                       "southwest" : {
                          "lat" : 39.7494334697085,
                          "lng" : -104.9865406302915
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "icon_background_color" : "#13B5C7",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
                 "name" : "Mercury Cafe",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 1079,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/117715928410483899214\"\u003eShelley Seale\u003c/a\u003e"
                       ],
                       "photo_reference" : "Aap_uEDf-B2qLhOkmMhTEJHOHQLcR0fGxycc9bsvimhF_GJJar0iobuz_iEmReFjT_1FyrTtUnA1jXQJfxUqorr9VTt2P53XRnSrgCEn10LfMl10sBZ_Eq71_q4b2QhtPlFugsiBR0ro7l6UhZaQ91545k7HDp3u5XTihKsMIc0NahepazRy",
                       "width" : 1440
                    }
                 ],
                 "place_id" : "ChIJl7-Ogyd5bIcRTgzca2cfXmw",
                 "plus_code" : {
                    "compound_code" : "Q227+8V Denver, CO, USA",
                    "global_code" : "85FQQ227+8V"
                 },
                 "price_level" : 2,
                 "rating" : 4.5,
                 "reference" : "ChIJl7-Ogyd5bIcRTgzca2cfXmw",
                 "scope" : "GOOGLE",
                 "types" : [
                    "cafe",
                    "restaurant",
                    "food",
                    "point_of_interest",
                    "store",
                    "establishment"
                 ],
                 "user_ratings_total" : 1664,
                 "vicinity" : "2199 California Street, Denver"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7366908,
                       "lng" : -104.9846353
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7380735802915,
                          "lng" : -104.9833961697085
                       },[...]
