---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1583%20Newton%20St%20Denver%20CO&key=google_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1583",
                       "short_name" : "1583",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Newton Street",
                       "short_name" : "Newton St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "West",
                       "short_name" : "West",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2300%20Steele%20St%20Denver%20CO&key=google_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
     [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=google_api_key&location=39.74574405,-104.99464955&radius=1500&type=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "Aap_uEDIFOIhQUYyBWfoddybd9_UetlCQXm5fY0to0J8ENJbQ-2LheA2XpZDqdTovHROfxpm_plNTRG3psFUYPj6KY8Nk8DYLG0UXERw88P4CN0hM45_YzNE_Rg_aYQttJlaeW9l6bpdbO9dvCQsaJ6E2KhVkOqihxenKyIhqnZHlSQjbySRV4m238LQhN67LwfhuU15dl-JrOOpK2-2-ykejMK-3lXQL3QjD0PVT9h8PZ44YSxnFE-n_63eRFr35WONdNkRq07mFxErBP2K-IJlcNThU1jnKBQIiO06-IanVDStmkSNy1MJ6xOj1bLlpbA1eQot10zJkCXBzVnQcV0l42BkimmxVAZmG3stumfh_8ZZwzWXGVDoCM5bhvH6HUu1DjknU05wSfJwUDsixzIf1JoAsl_2mtzVvofpWQbwazqivxLW6LUv",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7508417,
                       "lng" : -104.9853639
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7521314302915,
                          "lng" : -104.9838426697085
                       },
                       "southwest" : {
                          "lat" : 39.7494334697085,
                          "lng" : -104.9865406302915
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "icon_background_color" : "#13B5C7",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
                 "name" : "Mercury Cafe",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 1079,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/117715928410483899214\"\u003eShelley Seale\u003c/a\u003e"
                       ],
                       "photo_reference" : "Aap_uEC8a1FCLUql8GO6OHRNU3LmGin9APfqYp15SBqWIOEtGPEAbckXdWOt3pqbGCRb0Z40s-Xc13LLhWwkArpvPTK7vr4R6fHQoQ506YnoA2bZD2EJNQ_2UdyFbz7Og7Y5rs9qvPJRXHubt2sN9dtIaPOd9vldmuaT89aaczPTU8UL1sw4",
                       "width" : 1440
                    }
                 ],
                 "place_id" : "ChIJl7-Ogyd5bIcRTgzca2cfXmw",
                 "plus_code" : {
                    "compound_code" : "Q227+8V Denver, CO, USA",
                    "global_code" : "85FQQ227+8V"
                 },
                 "price_level" : 2,
                 "rating" : 4.5,
                 "reference" : "ChIJl7-Ogyd5bIcRTgzca2cfXmw",
                 "scope" : "GOOGLE",
                 "types" : [
                    "cafe",
                    "restaurant",
                    "food",
                    "store",
                    "point_of_interest",
                    "establishment"
                 ],
                 "user_ratings_total" : 1666,
                 "vicinity" : "2199 California Street, Denver"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7366908,
                       "lng" : -104.9846353
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7380735802915,
                          "lng" : -104.9833961697085
                       },[...]
