---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=google_api_key&location=39.74574405,-104.99464955&rankby=distance&type=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "Aap_uECQbdJNVQGB9jK_R1wpTQCiNaJXwWNxrezbimKdc7Llfx9txDcelIgLWIoqUxrg3OBmiGQSL_GsBq4JCGyMG3lYrdA9OrN3yzYntR-sLOstnPfMt3zxuKyVQOZAJazv9kdYZ-zRsHbbxqBawAJWsoilGnkxdudEaXcxOnfs2W6CKx9LadpARGKMBFCinPvZjaopGjSb8oMkTK0UUy2d8WqgMweG8bG482XpuJrOsl7k7jBEncR9JA1ytR4FeqE8_j4fbTVX2Hj4ykdVv9TsaF7Vd2u_6_Ebqs19ggZHMmKUQves1KjRqwzxG9YhdRdJobMWZI-FYDSD-HUYzUe_M_CaT2jhMogsgZN2cEPnv5uIVoanIvdom8mknJJYwzGpXQEsjhln0fRlR2CBrNIGdLnPegiU1jxEGOewKud_oiVUD-TvwgDS",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7508417,
                       "lng" : -104.9853639
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7521314302915,
                          "lng" : -104.9838426697085
                       },
                       "southwest" : {
                          "lat" : 39.7494334697085,
                          "lng" : -104.9865406302915
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "icon_background_color" : "#13B5C7",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
                 "name" : "Mercury Cafe",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 1079,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/117715928410483899214\"\u003eShelley Seale\u003c/a\u003e"
                       ],
                       "photo_reference" : "Aap_uECfprs5pB-dwQYudaZfClN2Ifw0HYymymvaVAUXH6Q6m8E9mNTw5jFfPGKn7BJF78hCb1S-xIQHYf4Cfb7Y3AVfDl0jHU93SNqXAgQW02AiVwJYvjMwAIBLQwpEtH3FSsbVYMbjqhn1_28HNyZGxQOWhTSPzvSZCdgfKXv5etFyrhL_",
                       "width" : 1440
                    }
                 ],
                 "place_id" : "ChIJl7-Ogyd5bIcRTgzca2cfXmw",
                 "plus_code" : {
                    "compound_code" : "Q227+8V Denver, CO, USA",
                    "global_code" : "85FQQ227+8V"
                 },
                 "price_level" : 2,
                 "rating" : 4.5,
                 "reference" : "ChIJl7-Ogyd5bIcRTgzca2cfXmw",
                 "scope" : "GOOGLE",
                 "types" : [
                    "cafe",
                    "restaurant",
                    "food",
                    "store",
                    "point_of_interest",
                    "establishment"
                 ],
                 "user_ratings_total" : 1666,
                 "vicinity" : "2199 California Street, Denver"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7366908,
                       "lng" : -104.9846353
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7380735802915,
                          "lng" : -104.9833961697085
                       },[...]
