---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2300%20Steele%20St,%20Denver,%20CO%2080205,%20USA&key=google_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2300",
                       "short_name" : "2300",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Steele Street",
                       "short_name" : "Steele St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "80205",
                       "short_name" : "80205",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "2300 Steele St, Denver, CO 80205, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.7512038,
                          "lng" : -104.9447319
                       },
                       "southwest" : {
                          "lat" : 39.7474408,
                          "lng" : -104.9564396
                       }
                    },
                    "location" : {
                       "lat" : 39.7491023,
                       "lng" : -104.9520274
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7512038,
                          "lng" : -104.9447319
                       },
                       "southwest" : {
                          "lat" : 39.7474408,
                          "lng" : -104.9564396
                       }
                    }
                 },
                 "place_id" : "ChIJGbAaIE55bIcRAoqv1-bazkw",
                 "types" : [ "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 09 Jun 2022 01:16:14 GMT
[...]
